@import '../../../variables.scss';

.results-panel {
    /* width */
    ::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: lighten($body-secundary, 10);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $body-secundary;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $body-secundary;
    }

}
