@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: visible !important;
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.well {
  background-color: $component-background;
  border: 1px solid $border-color-base;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0px 10px -8px rgba(0, 0, 0, .05);
  box-shadow: inset 0 0px 10px -8px rgba(0, 0, 0, .05);
}

.well-dark {
  background-color: $component-background;
  border: 1px solid $border-color-base;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0px 10px -8px rgba(255, 255, 255, .90);
  box-shadow: inset 0 0px 10px -8px rgba(255, 255, 255, .90);
}

.box-dark {
  background-color: $component-background !important;
  border: 0 !important;
  // padding: 7px 10px !important;
  border-radius: 2px;
}

.fade-appear.fade-appear-active {
  animation-duration: .3s;
}

.ant-message-notice-content {
  background-color: $body-background !important;
}