@import '../../../variables.scss';

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.content {
    padding: 0 15px;

    @media (min-width: $size-xs) {
        padding: 0 25px;
    }

    @media (min-width: $size-md) {
        padding: 0 50px;
    }
}