@import '../../../variables.scss';

.content {
    padding: 0 15px;

    @media (min-width: $size-xs) {
        padding: 0 25px;
    }

    @media (min-width: $size-md) {
        padding: 0 50px;
    }
}